@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Alegreya');

.border-remove
{
	border:0px !important;
}
.fa-red
{
	color:#db232f;	
}

.font-alegreya
{
	font-family: 'Alegreya', serif;	
}
.form-float-right
{
	float:right;
	

}
.hypertext-red
{
	color:#db232f;
	text-decoration:underline;
}

.logo-img
{
	width:100px;
	height:100px;
}
.navbar-pad-up
{
	padding-top:40px;	
}

.navbar-props
{
	max-height:100px;
	background-color:#fff;	
	/*padding-bottom:50px;*/
}
.panel-bg-change
{
	background-color:#db232f !important;	
	opacity:1;
	color:#fff !important;
	
	
}
.panel-bg-white
{
	background-color:#fff!important;		
	border:0px !important;
}

.text-black
{
	color:#000;
	
}
.text-color-white
{
	color:#fff;	
}