@charset "utf-8";

/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Alegreya');

#back-img
{

background-image:url(../img/bg.jpg);
	position:fixed;
	
	
	
	width:100%;
	height:590px;	
	z-index:-10;
}
.back-light-color
{
	position:fixed;


	
	width:100%;
	height:590px;	
}
.bg-fill-light-color
{

}
.bg-grey
{
	/*background-color:rgb(239,239,239);
	width:100%;
	margin:0px;
	*/
	
}
.block-shape
{
	position:relative;
	top:77px;
	
	height:100px;
	background-color:white;
	padding:30px;
	margin:0 auto;
	border:1px solid black;	
}
.block-shape:hover
{
	background-color:#efefef;
	cursor:pointer;
}
.dropdown-toggle:hover
{
		
	
}
.myfancybox-img
{
	display:inline-block;
	width:150px;
	height:150px;
	padding:5px;

	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	-moz-box-shadow: 0px 0px 2px #000000;
	-webkit-box-shadow: 0px 0px 2px #000000;
	box-shadow: 0px 0px 2px #000000;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

	
}
.search-head
{
	display:block;
	position:fixed;
	background-color:#db232f;
	color:white;
	z-index:11 !important;
	padding:30px;
	height:200px;

}

#search-header
{
	background-color:#db232f;
	color:white;
	z-index:11;
	padding:30px;
	height:200px;

	
}
.fill-bg-color
{
}
.force-bg-white
{
	background-color:white !important;
	color:black !important;	
}
#services-block
{
	position:relative;
	left:0px;

	
}

#services-logistics
{
	position:relative;
	left:0px;
	
}

#services-realestate
{
	position:relative;
	left:0px;
	
}


#services-laundry
{
	position:relative;
	left:0px;
	
}

.border-remove
{
	border:0px !important;
}
.fa-red
{
	color:#db232f;	
}

.font-alegreya
{
	font-family: 'Alegreya', serif;	
}
.form-float-right
{
	float:right;
	

}
.hypertext-red
{
	color:#db232f;
	text-decoration:underline;
}
#logistics-img
{
	width:50%;
	height:50%;
	padding:50px;
	margin: 0 auto;
	
		
}
.lo-test
{
	color:#00ff00;	
}
.logo-img
{
	width:100px;
	height:100px;
	position:absolute;
	left:50px;
	top:-10px;
}
.logoname-align
{
	position:absolute;
	left:150px;
	top:-10px;
	
}
.navbar-pad-up
{
	padding-top:40px;	
}
.nav-bg:hover
{
	background-color:	#db232f;
}
.navbar-props
{
	max-height:100px;
	background-color:#fff;	
	/*padding-bottom:50px;*/
}
.panel-bg-change
{
	background-color:#db232f !important;	
	opacity:1;
	color:#fff !important;
	
	
}
.panel-bg-white
{
	background-color:#fff!important;		
	border:0px !important;
}
#search-box
{
/*	background-color:rgb(239, 239, 239);	*/
	padding-top:150px;
	width:100%;
	height:200px;

}
#service-block
{
	background-color:#4f6f40;
	position:relative;
	top:-5px;
	color:white;
	border-color:#7dc25e;
}
.service-img
{
	width:200px;
	height:200px;
	
/*	background-color:#fff;*/
	
	border-top:1px;
	border-left:1px;
	border-right:1px;
	border-style:solid;

	padding:20px;
	margin:5px;
	display:inline-block;
}
.service-img:hover
{
	background-color:rgb(239,239,239);
	cursor:pointer;
}
.services-navbar
{
	position:relative;
	margin : 0 auto;
	left:20%;
	padding-top:50px;
}


#service-section-block
{
	
	
	background-color:#7dc25e;		
	position:relative;
	top:-4px;
	border:1px solid black;
	margin:80px;
	color:white;
	
}
#service-section-logistics
{
	background-color:#ed6e36;		
	position:relative;
	top:-5px;
	border:1px solid black;
	margin:80px;
	color:white;

}
#service-section-realestate
{
	background-color:#3496cb;		
	position:relative;
	top:-5px;
	border:1px solid black;
	margin:80px;
	color:white;
}
#service-section-laundry
{
	background-color:#923e8d;		
	position:relative;
	top:-5px;
	border:1px solid black;
	margin:80px;
	color:white;

}
#service-triangle
{
	display:block;
	position:relative;
	left:10px;
	top:10px;
  height: 0;
  width: 0;

	border-top:100px solid #db232f;
	border-bottom:100px solid transparent;
	border-left:100px solid transparent;
	border-right:100px solid transparent;
	 -ms-transform: scale(3,1); /* IE 9 */
    -webkit-transform: scale(3, 1); /* Safari */
    transform: scale(3, 1);
  

}
.services-heading
{
	background-color:white;	
}

.text-black
{
	color:#000;
	
}
.text-color-white
{
	color:#fff;	
}


/* id */


#front-bg
{
	
	background-image:url(../img/bg.jpg);
	height:100%;
}